body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0;
    color: #333333;
}

header {
    background-color: #123456;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header h1 span {
    color: #FFCC00;
}

nav {
    background-color: #333333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.container {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
    background-color: #EDEDED;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 1em;
}

.main-content h2 {
    background-color: #123456;
    color: white;
    padding: 0.5em;
    margin: -1em -1em 1em -1em;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.card {
    background-color: #FFF;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 1em 0;
    font-size: 1.2em;
    color: #123456;
}

.card p {
    margin: 0.5em 0;
}

.card img {
    max-width: 45%;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 8px;
}

footer {
    background-color: #123456;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0.5em 0;
}

footer p:first-of-type {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
