@media (min-width: 768px) {
    nav {
        display: flex;
    }

    .off-screen-menu {
        display: none;
    }

    .ham-menu {
        display: none;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}